nav {
  font-family: 'Fjalla One', sans-serif;
}

#logo {
  max-width:100px;
  max-height:90px;
  width: 70%;
  height: auto;
}

.sectiontitle {
  font-family: 'Fjalla One', sans-serif;
  margin-left: 10%;
}

#section1 {
  display: flex;
  align-items: row;
  width: 100%;
  justify-content: space-evenly;
  font-family: 'Fjalla One', sans-serif;
}

#wrapper1 {
  background-color: #000000;
  color: #FFD477;
  height: 100%
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  margin-left: 15%;
}

#description {
  font-family: 'Roboto', sans-serif;
  max-width: 60%;
  font-weight: 100;
  margin-left: 20%;
  padding-top: 20px;
}

#wrapper2 {
  background-color: #9ECFF7 ;
}

#wrapper3 {
  background-color: #698E5B;
  /* #BC4E38 */
  /* F9AE95; */
}


#profile-pic {
  margin-right: 5%;
  width: 35%;
  height: 25%;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.project {
  position: relative;
  max-width: 27%;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.project-img {
  display: block;
  min-width: 100px;
  width: 100%;
  background-color: white;
  opacity: 0.9;
}

.project-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: white;
  text-align: center;
}

.project-desc {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    text-align: center;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #6A7790;
}

.project:hover .overlay {
  opacity: .95;
}

label {
  display:block;
  text-align:center;
}


a:link {
  font-family: 'Roboto', sans-serif;
  font-weight: 100px;
  color: lightgray;
}

.skills-wrapper {
  color: white;
  padding : 10px;
}

footer {
   background-color: #2B607C;
   color: #C0CFD7;
   padding: 15px;
   font-family: 'Roboto', sans-serif;
   text-align: center;
}

#contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
}
